{% extends 'courier/base.html' %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script>
  function initMap() {
    // Initialize the map
    const map = L.map('map').setView([41.85, -87.65], 13);

    // Add OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Get user's current location
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(position => {
        const userLatLng = [position.coords.latitude, position.coords.longitude];
        const userMarker = L.marker(userLatLng).addTo(map);
        map.setView(userLatLng, 13);
        userMarker.bindPopup("You are here!").openPopup();
      });
    }

    // Get available jobs via API
    fetch("{% url 'courier:available_jobs_api' %}")
      .then(response => response.json())
      .then(json => {
        // Create a new viewpoint bound
        var bounds = new L.LatLngBounds();

        for (let i = 0; i < json.jobs.length; i++) {
          const job = json.jobs[i];
          const position = [job.pickup_lat, job.pickup_lng];
          const marker = L.marker(position).addTo(map);

          // Increase the bounds to take this point
          bounds.extend(position);

          marker.bindPopup("<small><b>" + job.name + "</b></small><br/><small>" + job.distance + " Km</small>");

          // Click event for each job
          marker.on("click", () => {
            showJobDetails(job);
          });

          // Fit these bounds to the map
          map.fitBounds(bounds);
        }
      });
  }

  function showJobDetails(job) {
    $("#job-details").css("display", "block");
    $("#job-name").html(job.name);

    $("#job-photo").attr('src', "/media/" + job.photo);
    $("#pickup-address").html(job.pickup_address);
    $("#delivery-address").html(job.delivery_address);
    $("#duration").html(job.duration);
    $("#distance").html(job.distance);
    $("#price").html(job.price);

    $("#job-details").on("click", function () {
      window.location.href = "/courier/jobs/available/" + job.id + "/";
    });
  }

  messaging.onMessage((payload) => {
    window.location.reload();
  });

  document.addEventListener("DOMContentLoaded", function () {
    initMap();
  });
</script>

<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 60px; /* Adjust to leave space for the bottom tabs */
    width: 100%;
    z-index: 1;
  }

  #job-details {
    position: absolute;
    bottom: 60px;
    width: 100%;
    z-index: 2;
  }

  small {
    font-size: 12px;
    line-height: 1.2rem;
  }

  .card {
    border: none;
  }
</style>

{% endblock %}

{% block content %}
<div class="d-flex flex-column h-100">
  <div id="map"></div>

  <div id="job-details" class="card">
    <div class="card-body p-2">
      <div class="media">
        <img id="job-photo" class="rounded-lg mr-3" width="50px" height="50px">
        <div class="media-body">
          <b id="job-name"></b>
          <div class="d-flex">
            <div class="flex-grow-1 mr-2">
              <small class="text-success">
                <i class="fas fa-car"></i> <span id="distance"></span> km
                <i class="far fa-clock ml-2"></i> <span id="duration"></span> mins
              </small>

              <div class="d-flex align-items-center mt-2">
                <i class="fas fa-map-marker-alt"></i>
                <small id="pickup-address" class="text-secondary ml-2"></small>
              </div>

              <div class="d-flex align-items-center mt-2">
                <i class="fas fa-flag-checkered"></i>
                <small id="delivery-address" class="text-secondary ml-2"></small>
              </div>
            </div>
            $<h3 id="price"></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'courier/bottom_tabs.html' %}
{% endblock %}
